section {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 0.9em;
}

section#enunciado {
  font-weight: bold;
  font-size: large;
}

span {
  display: inline-block;
  width: 22%;
  margin-right: 2%;
}
